# installs fragile_families when run from root directory
-e .[analysis]

# lower limit on jlab
jupyterlab ~= 2.0

# lab extension
ballet-assemble ~= 0.8

# additional user requirements - not sure why this works, given pwd
-r ../requirements-notebook.txt
